.view-component__filter{
  float: left;
  margin-top: 8px;
}
.view-component__search{
  float: right;
}
.display-table{
  display: block;
}
.hide-table{
  display: none;
}
/*Seacrh Button*/
input {
  outline: none;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}
input[type=search] {
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 10px center;
  border: #ccc;
  padding: 4px 20px 4px 40px;
  width: 80%;
  /*-webkit-border-radius: 10em;*/
  /*-moz-border-radius: 10em;*/
  /*border-radius: 10em;*/
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
input[type=search]:focus {
  width: 100%;
  background-color: #ededed;
  border-color: #66CC75;
  /*-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);*/
  /*-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);*/
  /*box-shadow: 0 0 5px rgba(109,207,246,.5);*/
}
input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}
#demo-2 input[type=search] {
  width: 5px;
  padding-right: 10px;
  color: transparent;
  cursor: pointer;
}
#demo-2 input[type=search]:hover {
  background-color: #ededed;
}
#demo-2 input[type=search]:focus {
  width: 90%;
  padding-right: 10px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
#demo-2 input:-moz-placeholder {
  color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
  color: transparent;
}
/*Search Button*/
